{% extends 'designer/base.html' %}
{% block content %}
    <!-- profile -->
    <main class='profile-main' style="background-color: white">
        <div class="cover-img">

        </div>
        <section class="profile-info">
            <div class="">
                <div class="profile-img-wrapper">
                    <img src="{{ designer.designerregister.your_photo.url }}"
                        alt="profile image">
                </div>

                <div class="info-wrapper">
                    <div class="text-wrapper">
                        <h2 class="profile-name">{{ designer.designerregister.full_name|capfirst }}</h2>

                        <h4 class="post">{{ designer.designerregister.current_status }}</h4>

                        <h5 class="experience">{{designer.designerregister.location}} • {{designer.designerregister.years_of_experience}}+ years of experience</h5>
                        <p class="bio">{{designer.designerregister.bio}}</p>

                        <div class="button-wrapper">
                            <a href="mailto:{{ designer.email }}" class="btn cta-fill ">Contact me </a>
                            
                            
                            
                            <ul class="icons-wrapper mx-2">
                                <li><a href="{{ designer.designerregister.facebook }}"><img src="/images/icons/facebook.svg" alt="facebook"></a></li>
                                <li><a href="{{ designer.designerregister.twitter }}"><img src="/images/icons/twitter.svg" alt="twitter"></a></li>
                                <li><a href="{{ designer.designerregister.linkedin }}"><img src="/images/icons/linkedin.svg" alt="linkedin"></a></li>
                                <li><a href="{{ designer.designerregister.instagram }}"><img src="/images/icons/instagram.svg" alt="instagram"></a></li>
                            </ul>
                        </div>
                        
                    </div>
                    <div class="tags-wrapper">

                        <h3 class="title">Top skills</h3>
                        <div class="tag-wrapper">
                            {% for skill in top_skills %}
                                <div class="cta-outline">{{skill}}</div>
                            {% endfor %}
                        </div>
                        <h3 class="title">Has Experience in </h3>
                        <div class="tag-wrapper">
                            {% for experience in user_experiences %}
                                <div class="cta-outline">{{experience}}</div>
                            {% endfor %}
                        </div>
                        <h3 class="title">Tools of choice</h3>
                        <div class="tag-wrapper">
                            {% for tool in tools_of_choice %}
                                <div class="cta-outline">{{tool}}</div>
                            {% endfor %}
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <section class="profile-exp">
            <div class="exp__wrapper">
                <h2 class="exp__title">
                    {{designer.first_name|capfirst}}'s Experience
                </h2>
                {% for experience in experiences %}
                <form action="{% url 'designer-experience-update' experience.pk %}">
                {% csrf_token %}
                <div class="exp__card-wrapper">
                    <h6 class="date">{{experience.date_from}} - {{experience.date_to}}</h6>
                    <h4 class="post">{{experience.work_title}} 
                    </h4>
                    <h6 class="location">{{experience.location}}</h6>
                    <p class="description">{{experience.work_description}}</p>
                    <h5 class="exp__skill-tag">Skills:
                        <span class="exp__skill-val">{{ experience.skills }}</span>
                    </h5>
                    <h5 class="exp__skill-tag">Tools Used:
                        <span class="exp__skill-val">{{ experience.tools_used }}</span>
                    </h5>
                    <p style="opacity: 0;">Hello</p>
                </div>
                
                </form>
                {% endfor %}


                
                


                <h2 class="exp__title">
                    {{user.first_name|capfirst}}'s Education
                </h2>

                {% for education in educations %}
                <form action="{% url 'designer-education-update' education.pk %}">
                <div class="exp__card-wrapper">
                    <h6 class="date">{{education.date_from}} - {{education.date_to}}</h6>
                    <h4 class="post">{{education.education_title}}
                    </h4>
                    <h6 class="location">{{education.location_of_instution}}</h6>
                    <p class="description">{{education.description}}</p>
                    <h5 class="exp__skill-tag">Grade:
                        <span class="exp__skill-val">{{education.grade}}</span>
                    </h5>
                    <p style="opacity: 0;">Hello</p>
                    
                </form>
                </div>
                {% endfor %}

                


                <h2 class="exp__title">
                    {{designer.first_name|capfirst}}'s Projects
                </h2>

                {% for project in projects %}
                <form action="{% url 'designer-project-update' project.pk %}">
                <div class="exp__card-wrapper">
                    <h6 class="date">Project Stage: {{ project.projecttagsmodel.project_stage }}</h6>
                    <h4 style="margin-bottom: 8px;" class="post">{{project.project_name|capfirst}}
                    </h4>
                    <h6 class="date">A {{ project.projecttagsmodel.platform_used }} based project</h6>
                    
                    <!-- <h6 class="location">{{project.projecttagsmodel.project_type}}</h6> -->
                    <p class="description">{{project.project_description}}</p>
                    <h5 class="exp__skill-tag">Project Type:
                        {{ project.projecttagsmodel.project_type }}
                    </h5>
                    <h5 class="exp__skill-tag">People Collab With:
                        {{ project.projecttagsmodel.people_collab_with }}
                    </h5>
                    <p style="opacity: 0;">Hello</p>
                    <a class="btn btn-outline-primary" href="{% url 'designer-project-detail' project.pk %}">View Details</a>
                    
                </div>

                </form>
                {% endfor %}

                

                
            </div>
        </section>

        <section class="profile-contact">

            <div class="contact-wrapper">

                <h3 class="title">Contact me for opportunities</h3>

                <div class="contact__info-wrapper">
                    <span class="span-title">I'm always looking for new and exciting opportunities.</span>
                    <a href="{{ user.designerregister.portfolio }}">{{ user.designerregister.portfolio }}</a>
                    <span class="span-title">Let's connect.</span>

                    <a href="mailto:{{ designer.email }}">Email: {{ designer.email }}
                    </a>
                </div>
            </div>
        </section>
    </main>
 {% endblock %}