{% extends 'designer/base.html' %}

{% block content %}


    <div class="container  border bg-light py-5 col-9 ">
        <form action="{% url 'recruiter-register' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- {{ form }} -->
            
            <div class="row form-group col-6 offset-3 ">
                <div class="row text-center">
                    <h1>Create your Ta-Da Profile today</h1>
                </div>
                {{ form }}
                  <button type="submit" class="btn btn-primary">Create my profile</button>  
            </div>
            {{ form.ERRORS }}
          </form>
    </div>

{% endblock %}
